body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #222;
  color: rgb(194, 194, 194);
}

h1 {
  margin-top: 20px;
}

.tela {
  width: 400px;
  height: 400px;
  margin: 20px auto;
  border-radius: 10px;
  transition: background-color 0.01s ease;
}

.cinza {
  background-color: gray;
}
.verde {
  background-color: green;
}
.vermelho {
  background-color: red;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
